<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepPatella</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="banner">
        <h1>DeepPatella</h1>
        <p>Automatic quantification of patellar tendon stiffness</p>
    </div>

    <menu>
        <li><a href="{{ url_for('home') }}">Video Processing</a></li>
        <li><a href="{{ url_for('baseline_calculation') }}">Baseline Calculation</a></li>
        <li><a href="{{ url_for('stiffness_calculation') }}">Tendon Stiffness Calculation</a></li>
        <li id="reset-btn">Reset UI</li>
    </menu>
    <h2 class="video_processing-title">Video Processing</h2>
    <div class="main">
        <!-- Columna izquierda -->
        <div class="col_left">
            <h2>Video uploading and inference</h2>
            <p>Please upload the video here and run the inference to get started</p>
            <div class="video_upload">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <label for="video" class="custom-file-upload">📁 Select Video</label>
                    <input type="file" id="video" name="video" accept="video/*" style="display: none;">
                    <span id="file-name" class="file-name"></span>
                    <br><br>
                    <input type="submit" id="upload-button" value="⬆️ Load Video" style="display: none;">
                </form>
                {% if message %}
                    <p class="upload-message" id="upload-message">{{ message }}</p>
                    {% if filename_original %}
                        <p class="upload-filename" id="upload-filename">Working with: {{ filename_original }}</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="inference">
                <div class="button-container">
                    <form id='run-inference-form' action="/run_inference" method="POST">
                        <input type="submit" id="start-inference-button" value="▶️ Start Inference">
                    </form>
                    <form id='stop-inference-form' action="/stop_inference" method="POST">
                        <input type="submit" id="stop-inference-button" value="🛑 Stop Inference">
                    </form>
                </div>

                {% if inference_message %}
                    <p class="upload-success">{{ inference_message }}</p>
                {% endif %}

                <div class="progress-bar">
                    <div id="progress-bar-fill">0%</div>
                </div>

                <div class="progress-info">
                    <div id="progress-time"></div>
                    <select id="progress-dropdown">
                        <option value="" id="progress-option">Show Progress Details</option>
                    </select>
                    <div id="progress-text"></div>
                </div>
            </div>
        </div>

        <!-- Columna central -->
        <div class="col_middle">
            <h2>Visualizations</h2>
            <p style="text-align: center">Here you can visualize the video with the predicted coordinates, in order to confirm if the predictions make sense</p>
            <div class="frames-container" id="frames-container">
                <p id="waiting-message">Video will be displayed here once the inference is finished</p>
                <img id="frame" style="display: none;" width="512" />
                <input type="range" id="frameSlider" min="0" value="0" step="1" oninput="sliderChanged()" />
                <div class="video-btns">
                    <button id="play-btn">▶️ Play</button>
                    <button id="pause-btn">⏸️ Pause</button>
                </div>
            </div>
        </div>

        <!-- Columna derecha -->
        <div class="col_right">
            <h2>Coordinates Correction</h2>
            <p style="text-align:center;">If you need to correct the predicted coordinates, you can do so here. Use the slider to quickly jump to any part of the video.</p>
            <div class="frames-container" id="kalman-correction-container">
                <p id="kalman-waiting-message">Frames will appear here once processing is complete</p>

                <div style="position: relative; display: inline-block;">
                    <img id="kalman-frame" style="display:none; width:512px;" />
                    <canvas id="kalman-canvas" width="512" height="512"
                        style="position:absolute; top:0; left:0; cursor: crosshair; display:none;">
                    </canvas>
                </div>

                <input type="range" id="kalmanFrameSlider" min="0" value="0" step="1" oninput="updateKalmanFrame()" />
                <div id="outlier-warning">
                    <!-- JS will fill this -->
                </div>
                <div class="video-btns">
                    <div class="frame-btns-row">
                        <button id="prevKalman">Previous Frame</button>
                        <button id="nextKalman">Next Frame</button>
                    </div>
                    <div class="frame-btns-row">
                        <button id="detect-outliers">Detect Outliers</button>
                        <button id="auto-repair">Auto-Repair Segment</button>
                    </div>
                    <div class="frame-btns-row">
                        <button id="saveCorrections">Save Corrections</button>
                        <button id="resetCorrections">Reset Corrections</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <p id="progress-info"></p>

    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/frames.js') }}"></script>
    <script src="{{ url_for('static', filename='js/inference.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reset_ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/correction_frames.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detect_outliers.js') }}"></script>

</body>
</html>
